
body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
 

  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
    color: greenyellow;
  }
  
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  .navbar-nav a{
    display: inline;
    
    background-color:#3d3d43;
    color: greenyellow;
    
    border:none;
    border-radius:10px;
  }
  
  