<!DOCTYPE html>
<html>


  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-1 me-0 px-3 fs-6" href="#">TEST</a>

    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-5" href="#">Giriş Yap</a>
        <a class="nav-link px-5" href="#">Kayıt Ol</a>
      </div>
      
    </div>
  </header>
  <body>
    <h2>Section title</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Son 10</th>

          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
