<app-nav></app-nav>
<div *ngIf="isAdmin==true" class="container">
    <h2>Onay Bekleyenler</h2>
    <hr>
    <div class="row mb-3">
      <div class="col-md-11 themed-grid-col"><b>BAŞLIK</b></div>
      <div *ngFor="let entry of approveList" style = "text-transform:capitalize;" class="col-md-11 themed-grid-col" >{{entry.header+"  "}}<button routerLink="/entryDetail/{{entry.id}}" class="btn btn-sm btn-outline-primary ">Detaylar</button><button (click)="approve(entry)" style="margin: 5px; background-color: green; color:white" class="btn btn-sm btn-outline-primary ">Onayla</button><button (click)="delete(entry)" style="background-color: red; color:white" class="btn btn-sm btn-outline-primary ">Sil</button></div>
    </div>
  </div>
  <div *ngIf="isAdmin==false">
    <h1>FORBIDDEN</h1>
  </div>