.btn{
    margin-top: 10px;
    width: 100px;
   
}
.form-group{
    margin-top: 5px;
}
.form-control{
    margin-top: 15px;
}

  .example {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  kendo-combobox {
    width: 170px;
  }

  #ac,
  span {
    margin-right: 15px;
  }

  label {
    margin: 0;
  }
