<main class="form-signin w-100 m-auto">

  <form #loginForm="ngForm"(ngSubmit)="register()">
    <img class="mb-4" src="/assets/images/logo.png" alt="logo" width="250" height="250">
    <h1 class="h3 mb-3 fw-normal">Kayıt Olun</h1>

    <div class="form-floating">
      <input name="userName" [(ngModel)]="registerUser.userName" required type="text" class="form-control" id="floatingInput" placeholder="Kullanıcı Adı">
      <label for="floatingInput">Kullanıcı Adı</label>
    </div>
    <div class="form-floating">
      <input name="password"  [(ngModel)]="registerUser.password" required type="password" class="form-control" id="floatingPassword" placeholder="Parola">
      <label for="floatingPassword">Parola</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" type="submit">Kayıt</button>

  </form>
  
</main>